.App {
    font-family: sans-serif;
    text-align: center;
  }
  body {
    background: linear-gradient(135deg, #b62c2c, rgba(15, 14, 14, 0.755));
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  /* Navbar */
  .nav-link {
    color: white !important;
    border-bottom: 1px solid transparent;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .nav-link:hover {
    border-bottom: 1px solid white;
  }
  
  /* Home */
  .home {
    padding: 2px;
    width: 1080px;
    height: 1080;
    position:fixed;
    box-shadow: 10px 10px 20px black;
    border: 2px solid black;
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .title {
    text-align: center;
  }
  .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
    
  
   
  
  
  /* Create Account */
  .account {
    width: 700px;
    box-shadow: 10px 10px 20px black;
    box-decoration-break: slice;
    -moz-box-align: center;
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .card-headera {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: white;
  }
  .error {
    color: rgba(24, 23, 23, 0.046);
  }
  .form-label {
    font-weight: bold;
  }
  .container{
    background-blend-mode: screen;
  }
  .card{
    background-color: rgb(224, 217, 209);
  }
  .bg-primary .card-headera{
    background-color: green;
  }
  
  
  
  /* Login Page */
  
  .login{
    width: 700px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  /* Deposit */
  .deposit {
    width: 700px;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  input {
    width: 650px;
  }
  
  /* .btnstyle {
    background: #0059FF;
    font-weight: bold;
    padding: 6px;
    border-radius: 12px;
    box-shadow: 3px 3px 5px black;
    color: white;
  }
  .btnstyle:hover{
    background: crimson;
  } */
  
  .btnstyle{
    padding: 5px;
    width: 100px;
    cursor: pointer;
    background: #1b1b1c;
    transition: .5s ease;
    color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
  }
  .btnstyle:hover{
    background: transparent;
    border: 2px solid #4d5e83;
    box-shadow: 0 0 10px 0 #eeeff1 inset,
                0 0 10px 4px #090a0c;
    border-radius: 10px;
    color: black;
  }
 
  /* withdraw */
  .withdraw {
    width: 700px;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  /* All Data */
  .alldata {
    box-shadow: 10px 10px 20px white;
    border-radius: 10px;
    width: 1100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .h5{
    background-color: white;
    color: white;
  }
  .alldata .card-headera{
    color: white;
  }
  #users {
    width: 1000px;
    border: 1px solid whitesmoke;
  }
  
  td {
    color: sienna;
    font-weight: bold;
    padding: 15px;
    text-align: left;
  }
  
  th {
    background: linear-gradient(135deg, rgb(30, 29, 29), rgba(142, 6, 6, 0.6));
    color: white;
    padding: 15px;
    text-align: left;
  }
  .center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }